.side_bar
 .side_bar_group_list
  .top_items
   .top_items_name
    MASA
   .top_items_icon
   = link_to "#", class: "top_items_icon__btn" do
    = icon('fas',"edit")
   = link_to "#", class: "top_items_icon__btn_2" do
    = icon('fas', 'cog')
 .side_bar_user_name
  .group_name
   techcamp
  .text
   まだメッセージはありません

 

