.chat-main{
  width: calc(100vw - 300px);
  float: left;

 &__bar{
   width: calc(100vw - 300px);
   height: 100px;
   background-color: #d2d2d2;
   display: flex;
   justify-content: space-between;
   float: right;
   text-align: center;
 


  &__bar-left{
    padding: 0px 40px;
  }
   .group-title{
     color: #333333;
     font-size: 20px;
     padding: 28px 40px 15px 40px;
   }
   .user{
     color: #999999;
     font-size: 12px;
     padding: 0px 10px 40px;
    }

  &__bar-EDIT{
    padding: 0px 20px;
  }
   .edit{
     padding: 28px 40px 15px 40px;
     line-height: 40px;
     }
 }
&__message-list{
   width: calc(100vw - 300px);
   height: calc(100vh - 190px);
   background-color: #fafafa;
   overflow: scroll;

  }
     

.message-form{
   position: relative;
   width: calc(100vW - 300px);
   height: 90px;
   background-color: #d2d2d2;
   display: flex;
   justify-content: space-between;
   line-height: 50px;
   input[type="file"]{
    display: none;
   }
   
  .form{
    position: absolute;
   
    display: flex;
    justify-content: space-between;
    width: 700px;
    height: 50px;
    background-color: whitesmoke;
    padding: 0px 40px;
    bottom: 0;
    top: 15px;
    left: 40px
    
   }
   
   
   .image-btn{
   position: absolute;
   left: 650px
  }
 

 .send-btn{
   position: absolute;
   width: 100px;
   height: 50px;
   text-align: center;
   background-color: skyblue;
   left:800px;
  }
}
}