.chat-main{
  width: calc(100vw - 300px);
  float: left;

 &__bar{
   width: calc(100vw - 300px);
   height: 100px;
   background-color: #d2d2d2;
   display: flex;
   justify-content: space-between;
   float: right;
   text-align: center;
 


  &__bar-left{
    padding: 0px 40px;
  }
   .group-title{
     color: #333333;
     font-size: 20px;
     padding: 35px  15px;
   }
   .user{
     color: #999999;
     font-size: 12px;
     padding: 0px 10px 40px;
    }

  &__bar-EDIT{
    padding: 0px 20px;
  }
   .edit{
     padding: 28px 40px 15px 40px;
     line-height: 40px;
     }
 }

 &__message-list{
   width: calc(100vw - 300px);
   height: calc(100vh - 190px);
   background-color: #fafafa;
   clear: both;
  
   .message-zone{
    padding: 35px 40px;
    clear: both;
   }
  
     .user-name{ 
     color:#333333;
     font-size: 16px;
     display: flex;
     justify-content: flex-start;

     }
  
      .date-time{
        color:#999999;
        font-size: 12px;
      }
   
     .comment{
      color:#434A54;
      font-size: 14px;
      padding: 0px 0px 46px
    }
  }
     
     
.message-form{
   position: relative;
   width: calc(100vW - 300px);
   height: 90px;
   background-color: #d2d2d2;
   display: flex;
   justify-content: space-between;
   line-height: 50px;
   input{
    display: none;
   }
   

 
  .form{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 700px;
    height: 50px;
    background-color: whitesmoke;
    padding: 0px 40px;
    top: 15px;
    left: 40px
   
    
    
   }
   .type-a-message{
    padding: 0 15px 0px 0px;
   
   }
   .image-btn{
   position: absolute;
   padding: 0 15px 0px 0px;
   left: 700px
  
  }
.send-btn{
  position: absolute;
  width: 100px;
  height: 50px;
  top: 15px;
  right: 40px;
  text-align: center;
  background-color: skyblue;
  }
 }  
}