.side-bar{
float: left;
height: 100vh;
}
 .side-bar__group-list{
  width: 300px;
  height: 100px;
  background-color: #253141;
  display: flex;
  justify-content: center;
  align-items: center;
  
 }
   .top-items{
    background-color: #253141;
    width: 220px;
    height: 20px;
    display: flex;
    justify-content: space-around;
   }

    .top-items__name{
     position: relative;
     top: 50%;
     -webkit-transform: translateY(-50%); 
     transform: translateY(-50%);
     color: #ffffff;
     font-size: 16px;
     }
    .top-items__icon{
     width: 60px;
     display: flex;
     justify-content: flex-end;
     &__btn{
       display: block;
       color:#ffffff;
    
     padding: 0px 0px 0px 30px;
      }
      &__btn_2{
       display: block;
       color:#ffffff;
       padding: 0px 0px 0px 0px;
      }
     }
 .side-bar__user-name{
   width: 300px;
   height: calc(100vh - 100px);
   background-color: #2f3e51;
 
 }

  .group-name{
   color: #ffffff;
   font-size: 15px;
   padding: 20px 0px 5px 20px;
  }
  .group-text{
    color: #ffffff;
    font-size: 11px;
    padding: 0px 0px 40px 20px;
  }
